include README.md
include ROADMAP.md
include requirements.txt
recursive-include data *.csv
recursive-include skill_packages skill.yaml
recursive-include docs *.md *.txt
recursive-include examples *.py *.md
